<!-- Header -->
<%- include('partials/header', {showSearchBar: false}) %>
<!-- /Header -->

<!-- Main -->
  <section>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    <p>
      Decreto <b><%= data.num %>/<%= data.anho %></b>, del
      <b><%= data.fecha %></b>.
    </p>
    <p>
      Publicado el <%= data.fecha %> (<%= data.pub %> N.º <%= data.num_ed_pub
      %>)
    </p>
    <p>Firmantes: <b><%= data.firman %></b></p>
    <p>Derogado por: Decreto 6000/2008</p>
    <p>Tema: <b><%= data.tema %></b></p>

    Decreto de Necesidad y Urgencia. Fija el sueldo mínimo para los empleados
    públicos Ratificado por Ley 4000 Reglamenta a la Ley 9000 Veto: Ley 2500
    art. 4, parcial; Veta la cartografía del Anexo. Promulga Ley 6000 Modifica a
    Dec. 310/2009 Modificado por: Dec. 880 Contiene 2 Anexos Referencias
    normativas: Ley 3500; Dec. 880/2011 Nota de la SIT: Boletín Oficial
    disponible en: Biblioteca de la S.I.T.: Volumen 2011, tomo 4, pág. 6 Versión
    digital en 2002//2002-04-12-B.pdf
  </section>

  <section>
    <h3>Decerto N°<%= data.num %></h3>

    <ul>
      <li>Fecha: <%= data.fecha %></li>
      <li>Firmantes: <%= data.firman %></li>
      <li>Cantidad de artículos: <%= data.cant_arts %></li>
    </ul>
  </section>
<!-- /Main -->

<!-- Footer -->
<%- include('partials/footer') %>
<!-- /Footer -->
l
