<!-- Header -->
<%- include('partials/header', {showSearchBar: true}) %>
<!-- /Header -->

<!-- Main -->
  <p>
    Decreto <b><%= data.num %>/<%= data.anho %></b>, del
    <b><%= data.fecha %></b>.
  </p>
  <p>
    Publicado el <%= data.fecha %> (<%= data.pub %> N.ยบ <%= data.num_ed_pub %>)
  </p>
  <p>Firmantes: <b><%= data.firman %></b></p>
  <p>Derogado por: Decreto 6000/2008</p>
  <p>Tema: <b><%= data.tema %></b></p>
<!-- /Main -->

<!-- Footer -->
<%- include('partials/footer') %>
<!-- /Footer -->
