<!-- Header -->
<%- include('partials/header', {showSearchBar: false}) %>
<!-- /Header -->

<main
  class="search-container container d-flex flex-column align-items-center justify-content-center"
>
  <form
    action="/importar/csv"
    method="post"
    class="w-75"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <input type="file" class="form-control" name="csvFile" />
    </div>
    <button type="submit" class="btn btn-success">Upload</button>
  </form>

  <%if(data){%>
  <div class="container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>num</th>
          <th>fecha</th>
          <th>cant_arts</th>
          <th>nro_tomo</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i=0; i < data.length; i++){%>
        <tr>
          <td><%= i+1%></td>
          <td><%= data[i].num%></td>
          <td><%= data[i].fecha%></td>
          <td><%= data[i].cant_arts%></td>
          <td><%= data[i].nro_tomo%></td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </div>
  <%}%>
</main>

<!-- Footer -->
<%- include('partials/footer') %>
<!-- /Footer -->
