<!-- Header -->
<%- include('partials/header', {showSearchBar: true}) %>
<!-- /Header -->

<!-- Main -->
<main>
  <% data.forEach((decreto) => {%>
  <p>----------------------------------------------------------</p>

  <p
    class="arrow"
    decreto-id="<%= decreto._id %>"
    onclick="verDecreto(this.getAttribute('decreto-id'))"
  >
    -> Decreto N° <%= decreto.num %> de la fecha <%=
    decreto.fecha.toLocaleDateString() %>
  </p>
  <% }); %>
</main>
<!-- /Main -->

<!-- Footer -->
<%- include('partials/footer') %>
<!-- /Footer -->
